@page "/VerbalMemory"

@using Frontend.Games.VerbalMemory

<PageTitle>VerbalMemory</PageTitle>

<h2>High Score: @Manager.HighScore</h2>
<h2>Current Score: @Manager.Score</h2>

@if (LoadFailed)
{
    <div class="error-message">
        <h3>Error: Failed to load the word list.</h3>
    </div>
}
else
{
    <div class="game-container">
        <div class="word-display">
            @Manager.CurrentWord
        </div>

        <div class="buttons">
            <button class="game-button" @onclick="async() => await Manager.HandleSeenButtonClick()">Seen</button>
            <button class="game-button" @onclick="async() => await Manager.HandleNewButtonClick()">New</button>
        </div>

        <div class="mistake-counter">
            <p>Mistakes: @Manager.MistakeCount</p>
        </div>
    </div>
    <div class="game-rules"
            style="margin-top: 20px;">
            <h3>Rules:</h3>
            <p>Click "New" to get a new word. Click "Seen" if you have seen the word before.</p>
            <p>Each word can only be seen once. If you click "Seen" on a word you have not seen before, you will lose a point.</p>
            <p>Try to get as many words correct as possible!</p>
        </div>
}