@inject IJSRuntime JS
<button @onclick="Logout" class="nav-link btn btn-link text-white">Logout</button>

@code {
    [Inject]
    IHttpClientFactory ClientFactory { get; set; }
    [Inject]
    NavigationManager NavigationManager { get; set; }

    private async Task Logout()
    {
        var client = ClientFactory.CreateClient("BackendApi");

        var url = client.BaseAddress + "api/logout";
        await JS.InvokeVoidAsync("postVoidAsync", url);
        NavigationManager.NavigateTo("/", true);
    }
}
