@page "/SimonSays"

@using PSInzinerija1.Games.SimonSays

<PageTitle>SimonSays</PageTitle>

<h1>SimonSays</h1>

<div style="text-align: left;">
    <h2>High Score: @gameManager.HighScore</h2>
    <h2>Score: @gameManager.Level</h2>
</div>


<div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 10px; width: 50vh; margin: 0 auto; height: 50vh; position: relative;">
    @foreach (var button in gameManager.Buttons)
    {
        var buttonClass = button.IsLit ? "buttonDefault pressed valid" : "buttonDefault";
        <button class="@buttonClass" @onclick="async () => await button.OnClick(StateHasChanged)">@button.Text</button>
    }
</div>
