@page "/SimonSays"

<PageTitle>SimonSays</PageTitle>

<h1>SimonSays</h1>



    <div style="display: grid; height: 75vmin; grid-gap: 1%; grid-template-columns: repeat(3, 1fr); gap: 10px; width: 300px; margin: 0 auto">
    
    </div>