@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IHttpContextAccessor HttpContextAccessor 

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control light-gray-input" @bind-Value="loginModel.Email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" class="form-control light-gray-input" @bind-Value="loginModel.Password" type="password" />
    </div>

    <div class="button-container" >
        <NavLink class="btn btn-warning" href="registration">
            Registration
        </NavLink>
        <button type="submit" class="btn btn-warning">Login</button>
    </div>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var url = "api/login?useCookies=true&useSessionCookies=true"; // Backend login URL
        var client = HttpClientFactory.CreateClient("BackendApi");
        var formData = new
        {
            email = loginModel.Email,
            password = loginModel.Password
        };

        try
        {
            var response = await client.PostAsJsonAsync(url, formData);

            if (response.IsSuccessStatusCode && response.Headers.TryGetValues("Set-Cookie", out var cookies))
            {
                Console.WriteLine(HttpContextAccessor.HttpContext?.Request.Cookies.Count);
                @* string[] keyValue = cookies.First().Split('=', 2);
                var key = keyValue[0].Trim();
                var value = keyValue[1].Trim();
                HttpContextAccessor.HttpContext?.Response.Cookies.Append(key, value); *@
                
                Console.WriteLine("Success!");
                @* await JS.InvokeVoidAsync("saveCookie", cookie); *@
                
                NavigationManager.Refresh(true);
            }
            else
            {
                // Handle login failure (you can display an error message, for example)
                Console.WriteLine("Login failed: " + response.ReasonPhrase);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("An error occurred: " + ex.Message);
        }
    }

    public class LoginModel
    {
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
    }
}
