
    .light-gray-input {
        background-color: lightgray;
        border: 1px solid #ccc;
        color: #333;
    }

.light-gray-input:focus {
    background-color: #e0e0e0; /* Slightly darker gray when focused */
    outline: none; /* Remove default outline */
    border-color: #999; /* Change border color when focused */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the container spans the full width */
    margin-top: 20px; /* Adjust as needed */
}

.button-container .btn {
    flex: 0 1 auto; /* Allow buttons to size based on content */
    margin: 0 5px; /* Adjust as needed */
}

.white-text {
    color: white;
}

.pageButton {
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px;
    text-align: center;
    background-color: #fd950d;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}