@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to itssoover Mind Games</h1>

Select the only game available for now: SimonSays

<div style="float: right; margin-right: 20px;">

    <form method="post" action="/Login">
        <div style="display: grid; grid-template-columns: auto 1fr; gap: 10px;">

            <a href="/Registration" style="font-size: 15px; justify-self: end;">Sign up</a>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password"> Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" style="justify-self: end;">Login</button>

        </div>
    </form> 

</div>
