@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to itssoover Mind Games</h1>

Select the only game available for now: SimonSays

<div style="float: right; margin-right: 20px;">

    <form method="post" action="/Login">
        <div style="display: grid; grid-template-columns: auto 1fr; gap: 10px;">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password"> Password:</label>
            <input type="password" id="password" name="password" required>

            <a href="/Registration">Sign up</a>
            <button type="submit" style="justify-self: end;">Login</button>

        </div>
    </form> 

</div>