@page "/Registration"

<PageTitle>Registration</PageTitle>

<h1>Registration</h1><br>
<h4>Please fill in the boxes below.</h4>
<div style="color: red;">Boxes marked with * are mandatory.</div><br>

<form method="post" action="/Register">
    <div style="display: grid; grid-template-columns: auto 1fr; gap: 10px; width: 100px;">

            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name">

            <label for="Age">Age:</label>
            <input type="number" name="Age" min="0">

            <label for="Username">*Username:</label>
            <input type="text" id="Username" name="Username" required>

            <label for="Password">*Password:</label>
            <input type="password" id="Password" name="Password" required>


            <button type="submit">Sign up</button>
    </div>
</form>