@page "/Registration"

<PageTitle>Registration</PageTitle>

<h1>Registration</h1><br>
<h4>Please fill in the fields below.</h4>
<div style="color: red;">Fields marked with * are mandatory.</div><br>

<AuthorizeView>
    <NotAuthorized>
        <form id="registration-form" class="w-25">
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">*Email:</label>
                <div>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Enter email" required />
                </div>

                <label for="username" class="col-sm-2 col-form-label">*Username:</label>
                <div>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required />
                </div>

                <label for="password" class="col-sm-2 col-form-label">*Password:</label>
                <div>
                    <input type="text" id="password" name="password" class="form-control" placeholder="Password" required />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 m-1">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </NotAuthorized>
    <Authorized>
        <h1>
            You are already logged in!
        </h1>
    </Authorized>
</AuthorizeView>


@code {
    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender)
            JSRuntime.InvokeVoidAsync("onBlazorReadyReg");
    }
}
