@page "/VisualMemory"

<PageTitle>VisualMemory</PageTitle>

<h1 @onclick="() => {sequence.IncreaseDifficulty(); sequence.GenerateNewSequence(); }">VisualMemory</h1>

<div style="display: grid; height: 75vmin;grid-gap: 1%; grid-template-columns: repeat(@sequence.GridSize, 1fr);">
    @foreach (var value in sequence) {
        if (value == SequenceValue.Valid)
        {
            <button style="background-color: red;"/>
        }
        else
        {
            <button style="background-color: blue;"/>
        }
    }
</div>