@page "/"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop

<PageTitle>Home</PageTitle>

<h1>Welcome to itssoover Mind Games</h1>

    <AuthorizeView>
        <NotAuthorized>
            <LoginForm />
        </NotAuthorized>
    </AuthorizeView>

    @* <AuthorizeView>
                <NotAuthorized>
                    <button class="buttonDefault">
                        <NavLink class="nav-link" href="registration">
                            Registration
                        </NavLink>
                    </button>
                </NotAuthorized>
            </AuthorizeView> *@
    <div style="display: grid; gap: 10px; width: 45vh; margin: 0 auto; height: 45vh; position: relative;">
            <NavLink class="pageButton" href="Leaderboard">
                Leaderboard
            </NavLink>
            <NavLink class="pageButton" href="VisualMemory">
                VisualMemory
            </NavLink>
            <NavLink class="pageButton" href="simonsays">
                SimonSays
            </NavLink>
            <NavLink class="pageButton" href="VerbalMemory">
                VerbalMemory
            </NavLink>
        </div>
        



@code {
    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender)
            JSRuntime.InvokeVoidAsync("onBlazorReadyLog");
    }
}    

