@page "/Registration"

<PageTitle>Registration</PageTitle>

<div style="color: white;">
    <h1>Registration</h1><br>
    <h4>Please fill out the fields below.</h4>

    <AuthorizeView>
        <NotAuthorized>
            <RegistrationForm />
        </NotAuthorized>
        <Authorized>
            <h1>
                You are already logged in!
            </h1>
        </Authorized>
    </AuthorizeView>
</div>


@code {
    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender)
            JSRuntime.InvokeVoidAsync("onBlazorReadyReg");
    }
}
